<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <h1>Submit a recipe</h1>
    <form action="/" method="POST">
      <label for="recipe">Recipe Name</label><br />
      <input type="text" name="recipe" required /><br />
      <label for="ingredients">Ingredients</label><br />
      <textarea name="ingredients" id="" cols="30" rows="10"></textarea><br />
      <label for="method">Method</label><br />
      <textarea name="method" id="" cols="30" rows="10"></textarea><br />
      <button type="submit">Send Recipe</button>
    </form>
    <%- include("partials/footer")%>
  </body>
</html>
