<header>
  <div class="logo">
    <p>Tasty Cooking</p>
  </div>
  <nav>
    <ul class="nav-items">
      <li><a href="/">Submit a Recipe</a></li>
      <li><a href="recipes">Recipes</a></li>
    </ul>
  </nav>
</header>
